In [1]:
import numpy as np
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [2]:
#load dataset
df = pd.read_csv('Hospital_Readmissions_Reduction_Program.csv')

In [3]:
df.head(10)

,Hospital Name,Provider Number,State,Measure Name,Number of Discharges,Footnote,Excess Readmission Ratio,Predicted Readmission Rate,Expected Readmission Rate,Number of Readmissions,Start Date,End Date
0,THOMAS HOSPITAL,10100,AL,READM-30-COPD-HRRP,166,NaN,0.9502,18.4,19.3,27,01-JUL-11,30-JUN-14
1,THOMAS HOSPITAL,10100,AL,READM-30-HF-HRRP,343,NaN,0.9587,19.9,20.8,66,01-JUL-11,30-JUN-14
2,THOMAS HOSPITAL,10100,AL,READM-30-HIP-KNEE-HRRP,641,NaN,1.0221,4.9,4.8,32,01-JUL-11,30-JUN-14
3,J PAUL JONES HOSPITAL,10102,AL,READM-30-COPD-HRRP,Not Available,1.0,Not Available,Not Available,Not Available,Not Available,01-JUL-11,30-JUN-14
4,GRANDVIEW MEDICAL CENTER,10104,AL,READM-30-COPD-HRRP,239,NaN,1.0373,21.5,20.7,54,01-JUL-11,30-JUN-14
5,PRATTVILLE BAPTIST HOSPITAL,10108,AL,READM-30-HF-HRRP,170,NaN,1.1144,22.8,20.4,45,01-JUL-11,30-JUN-14
6,PRATTVILLE BAPTIST HOSPITAL,10108,AL,READM-30-PN-HRRP,192,NaN,1.0563,17.9,16.9,38,01-JUL-11,30-JUN-14
7,BRYAN W. WHITFIELD MEMORIAL HOSPITAL,10112,AL,READM-30-COPD-HRRP,Not Available,NaN,0.9435,15.8,16.8,Too Few to Report,01-JUL-11,30-JUN-14
8,MONROE COUNTY HOSPITAL,10120,AL,READM-30-COPD-HRRP,75,NaN,1.0167,17.2,16.9,14,01-JUL-11,30-JUN-14
9,TROY REGIONAL MEDICAL CENTER,10126,AL,READM-30-COPD-HRRP,134,NaN,1.0513,19.8,18.8,30,01-JUL-11,30-JUN-14

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16585 entries, 0 to 16584
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hospital Name               16585 non-null  object
 1   Provider Number             16585 non-null  int64
 2   State                       16585 non-null  object
 3   Measure Name                16585 non-null  object
 4   Number of Discharges        16585 non-null  object
 5   Footnote                    3275 non-null   float64
 6   Excess Readmission Ratio    16585 non-null  object
 7   Predicted Readmission Rate  16585 non-null  object
 8   Expected Readmission Rate   16585 non-null  object
 9   Number of Readmissions      16585 non-null  object
 10  Start Date                  16585 non-null  object
 11  End Date                    16585 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 1.5+ MB

In [5]:
df.describe()

       Provider Number     Footnote
count     16585.000000  3275.000000
mean     263262.641242     2.909924
std      160656.934173     2.024018
min       10001.000000     1.000000
25%      110146.000000     1.000000
50%      250138.000000     1.000000
75%      390130.000000     5.000000
max      670099.000000     7.000000

In [6]:
df.isnull().sum()

Hospital Name                     0
Provider Number                   0
State                             0
Measure Name                      0
Number of Discharges              0
Footnote                      13310
Excess Readmission Ratio          0
Predicted Readmission Rate        0
Expected Readmission Rate         0
Number of Readmissions            0
Start Date                        0
End Date                          0
dtype: int64

In [7]:
#footnote has a lot of missing data , and therefore we will drop it.

In [8]:
df.drop('Footnote',axis=1 ,inplace= True)

In [9]:
#converting some non-numeric index data to numeric.

In [10]:
df['Number of Discharges'] = pd.to_numeric(df['Number of Discharges'],errors='coerce').fillna(0).astype(int)
df['Excess Readmission Ratio'] = pd.to_numeric(df['Excess Readmission Ratio'],errors='coerce').fillna(0).astype(float)
df['Predicted Readmission Rate'] = pd.to_numeric(df['Predicted Readmission Rate'],errors='coerce').fillna(0).astype(float)
df['Expected Readmission Rate'] = pd.to_numeric(df['Expected Readmission Rate'],errors='coerce').fillna(0).astype(float)
df['Number of Readmissions'] = pd.to_numeric(df['Number of Readmissions'],errors='coerce').fillna(0).astype(int)

In [11]:
df.describe()

,Provider Number,Number of Discharges,Excess Readmission Ratio,Predicted Readmission Rate,Expected Readmission Rate,Number of Readmissions
count,16585.000000,16585.000000,16585.000000,16585.000000,16585.000000,16585.000000
mean,263262.641242,238.197769,0.804427,13.107700,13.071758,39.905457
std,160656.934173,303.448047,0.407065,8.468359,8.346117,53.813196
min,10001.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,110146.000000,0.000000,0.880700,4.600000,4.800000,0.000000
50%,250138.000000,157.000000,0.975600,16.600000,16.700000,23.000000
75%,390130.000000,351.000000,1.035900,19.700000,19.900000,56.000000
max,670099.000000,7248.000000,1.826000,33.500000,28.200000,875.000000

In [12]:
df.isnull().sum()

Hospital Name                 0
Provider Number               0
State                         0
Measure Name                  0
Number of Discharges          0
Excess Readmission Ratio      0
Predicted Readmission Rate    0
Expected Readmission Rate     0
Number of Readmissions        0
Start Date                    0
End Date                      0
dtype: int64

In [13]:
df.head()

,Hospital Name,Provider Number,State,Measure Name,Number of Discharges,Excess Readmission Ratio,Predicted Readmission Rate,Expected Readmission Rate,Number of Readmissions,Start Date,End Date
0,THOMAS HOSPITAL,10100,AL,READM-30-COPD-HRRP,166,0.9502,18.4,19.3,27,01-JUL-11,30-JUN-14
1,THOMAS HOSPITAL,10100,AL,READM-30-HF-HRRP,343,0.9587,19.9,20.8,66,01-JUL-11,30-JUN-14
2,THOMAS HOSPITAL,10100,AL,READM-30-HIP-KNEE-HRRP,641,1.0221,4.9,4.8,32,01-JUL-11,30-JUN-14
3,J PAUL JONES HOSPITAL,10102,AL,READM-30-COPD-HRRP,0,0.0000,0.0,0.0,0,01-JUL-11,30-JUN-14
4,GRANDVIEW MEDICAL CENTER,10104,AL,READM-30-COPD-HRRP,239,1.0373,21.5,20.7,54,01-JUL-11,30-JUN-14

filling the actual zeros with median instead of mode to maintain data consistency

In [14]:
for col in ['Number of Discharges','Excess Readmission Ratio','Predicted Readmission Rate',
            'Expected Readmission Rate','Number of Readmissions']:
    median_value = df[col].median()
    df[col] = df[col].replace(0,median_value)

In [15]:
df.head()

,Hospital Name,Provider Number,State,Measure Name,Number of Discharges,Excess Readmission Ratio,Predicted Readmission Rate,Expected Readmission Rate,Number of Readmissions,Start Date,End Date
0,THOMAS HOSPITAL,10100,AL,READM-30-COPD-HRRP,166,0.9502,18.4,19.3,27,01-JUL-11,30-JUN-14
1,THOMAS HOSPITAL,10100,AL,READM-30-HF-HRRP,343,0.9587,19.9,20.8,66,01-JUL-11,30-JUN-14
2,THOMAS HOSPITAL,10100,AL,READM-30-HIP-KNEE-HRRP,641,1.0221,4.9,4.8,32,01-JUL-11,30-JUN-14
3,J PAUL JONES HOSPITAL,10102,AL,READM-30-COPD-HRRP,157,0.9756,16.6,16.7,23,01-JUL-11,30-JUN-14
4,GRANDVIEW MEDICAL CENTER,10104,AL,READM-30-COPD-HRRP,239,1.0373,21.5,20.7,54,01-JUL-11,30-JUN-14

In [16]:
df['Number of Discharges'].nunique()

1264

In [17]:
df['Measure Name'].value_counts()

Measure Name
READM-30-COPD-HRRP        3317
READM-30-HF-HRRP          3317
READM-30-HIP-KNEE-HRRP    3317
READM-30-PN-HRRP          3317
READM-30-AMI-HRRP         3317
Name: count, dtype: int64

In [18]:
df['State'].value_counts().head()

State
TX    1540
CA    1480
FL     845
NY     780
PA     755
Name: count, dtype: int64

In [19]:

#Top 10 states with highest number of discharges

In [20]:
df[['State','Number of Discharges']].groupby('State').sum().sort_values('Number of Discharges',ascending=False).head(10)

       Number of Discharges
State
TX                   381767
CA                   355640
FL                   335707
NY                   245384
IL                   227874
PA                   214863
OH                   196895
MI                   184698
NC                   165038
NJ                   149847

In [21]:
df[['Hospital Name','Number of Readmissions']].groupby('Hospital Name').sum().sort_values('Number of Readmissions',ascending=False).head(10)

                                Number of Readmissions
Hospital Name
FLORIDA HOSPITAL                                  2219
GOOD SAMARITAN HOSPITAL                           1991
METHODIST HOSPITAL                                1825
MEMORIAL HOSPITAL                                 1768
COVENANT MEDICAL CENTER                           1624
SOUTHCOAST HOSPITAL GROUP, INC                    1588
BEAUMONT HOSPITAL, ROYAL OAK                      1559
COMMUNITY MEDICAL CENTER                          1533
ST JOSEPH HOSPITAL                                1513
ST MARY'S MEDICAL CENTER                          1470

In [22]:
df.to_csv('cleaned_hospital_Readmissions.csv',index= False )